.footer{
    background-color: #6379F7;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    margin-top: 10px;
}

.copy-right{
    font-size: 12px;
}

.title{
    font-size: 15px;
    color:bisque;
    margin-right: 5px;
}